@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/BrandonText-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-brandon {
  font-family: 'Brandon Text', Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.transparent {
  background-color: transparent !important;
}